@charset "UTF-8";
body {
    font: 12px "microsoft yahei", Arial, Helvetica, sans-serif;
    color:#666;
    margin:0px;
    padding:0px;
}
a  {
    color:#666;
    text-decoration:none;
}
a:hover {
    text-decoration:underline;
    color:#ff0700;
}
#home{
    text-align: center;
}
#home h3{
    display: inline-block;
}